<nav class="articles__nav">
  <ul class="articles__navList">
    <li class="articles__navListItem">
      <%= link_to 'Articles',articles_path %>
    <li>
    <li class="articles__navListItem">
      <%= link_to 'Create New', new_article_path %>
    <li>
  </ul>
</nav>