<section class="flex flex-col entry">
  <% if articles != nil %>
    <% articles.each do |article| %>
      <%= render 'post_item', article: article %>
      <hr class="divider">
    <% end %>
  <% end %>
</section>