<header class="header">
  <h1 class="header__title">Edit an article</h1>
  <%= render 'articles_nav' %>
</header>
<section class="section main__section">
  <section class="section form__section">
    <%= render 'form' %>
  </section>
</section>
