<section class="flex hero img_deskLayout">
  <h1 class="hero__title">blog</h1>
</section>
<%= render 'articles_nav' %>
<section class="flex">
  <%= render 'post_entry_view', articles: @articles %>
</section>
