<section class="article form__section">
  <header class="header">
    <h1 class="header__title">Create an article</h1>
    <%= render 'articles_nav' %>
  </header>
  <%= render 'articles_nav' %>
  <%= render 'form' %>
</section>

