<section class="article form__section">
  <header class="header">
    <h1 class="header__title">Create an article</h1>
    <%= render 'layouts/sub_nav',
      nav: @menu[:nav],
      classes: @menu[:classes]
    %>
  </header>
  <%= render 'form' %>
</section>

