<header class="header">
  <h1 class="header__title">Create an article</h1>
  <%= render 'articles_nav' %>
</header>
<main class="main">
  <section class="main__section">
    <section class="article form__section">
      <%= render 'articles_nav' %>
      <%= render 'form' %>
    </section>
  </section>
</main>