<header class="header">
  <h1 class="header__title">Showing Selected Article</h1>
</header>
<main class="main">
  <section class="section main__section">
    <section class="section article">
      <h2 class="article__title">
        <%= @article.title %>
      </h2>
      <p class="article__description">
        <%= @article.description %>
      </p>
    </section>
  </section>
</main>
