<%= render 'layouts/hero', img_class: 'img_pinkClouds', title: @article.title %>
<section class="flex two_col">
  <section class="flex flex-col show_view">
    <%= render 'article_details', article: @article %>
  </section>
  <%= render 'article_sidebar' %>
</section>



