<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alphablog | About</title>
</head>
<body>
  <header>
    <h1><%= link_to 'AlphaBlog', root_path%></h1>
  </header>
  <main>

  </main>
</body>
</html>