/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background: #eae7dc;
  box-sizing: border-box;
  font: 16px 'helvetica neue', 'helvetica', sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
}

*, *:before, *:after, *:visited, *:active {
  box-sizing: inherit;
  text-decoration: none;
  outline: none;
  list-style: none;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

section {
  border: 1px solid blue;
}

/*******************************************************/
/* Form Styles                                         */
/*******************************************************/

.form {
/*  display: flex;
  flex-direction: column;*/
  border: 1px solid red;
}

.form__field {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
}

.article-form {
  width: 80%;
}

/*******************************************************/
/* Table Styles                                        */
/*******************************************************/

.table {
  border-collapse: collapse;
  width: 100%;
}

.table, .table__head, .table__data {
  overflow: auto;
  border: 1px solid grey;
  text-align: left;
}