<header class="flex mainHeader">
  <h1 class="logo"><%= link_to 'AlphaBlog', root_path%></h1>
  <div class="flex header_nav">
    <%= render 'layouts/main_nav' %>
    <%= render 'layouts/search_field' %>
  </div>
</header>