<nav class="navMain">
  <ul class="navMain__list">
    <li class="navMain__listItem">
      <%= link_to 'Home', root_path %>
    </li>
    <li class="navMain__listItem">
      <%= link_to 'About', about_path %>
    </li>
    <li class="navMain__listItem">
      <%= link_to 'Articles', articles_path %>
    </li>
  </ul>
</nav>